{% extends 'base.html' %}
{% block content %}

<section class="section-content padding-y bg">
    {% include 'includes/alert.html' %}
    <div class="container">
        <div class="row">
            {% include 'includes/dashboard_sidebar.html' %}
            <main class="col-md-9">
                <article class="card">
                    <header class="card-header">
                        <strong class="d-inline-block mr-3">Edit your prfile</strong>
                    </header>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form action="{% url 'change_password' %}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <label>Old Password:</label>
                                        <input type="password" class="form-control" name="old_password" required placeholder="Enter Your Old Password">
                                    </div>
                                    <div class="form-row">
                                        <label>New Password:</label>
                                        <input type="password" class="form-control" name="new_password" required placeholder="Enter Your New Password">
                                    </div>
                                    <div class="form-row">
                                        <label>Confirm Password</label>
                                        <input type="password" class="form-control" name="confirm_password" required placeholder="Confirm Your Password">
                                    </div>
                                    <br>
                                    <br>
                                    <input type="submit" value="Save" class="form-control btn btn-primary">

                                </form>
                            </div>
                        </div>
                    </div>
                </article>
            </main>
        </div>
    </div>
</section>



{% endblock %}